#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    background-color: #f7f7f7; /* add a background color */
    width: 100%; /* set the width to 100% of the parent */
    max-width: 1200px; /* set a maximum width */

    margin: 0 auto; /* center the container */
    padding: 2rem; /* add some padding */
  }
  
  .logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
  }
  
  .logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
  }
  
  .logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
  }
  
  /* add a class for the buttons container */
  .buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  /* add a class for the Swamp text */
  .swamp {
    font-size: 24px;
    font-weight: bold;
    margin-right: auto;
  }